.app {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  height: 100px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(43, 43, 43);
  color: white;
}

.app__headerTitle {
  font-size: 3.0rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.movieList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  width: 100%;
  background: rgb(190, 190, 190);
}

.card {
  height: 200px;
  width: 75vw;
  margin: 10px;
  background: white;
  color: black;
}

.movie {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.addMovie {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background: gray;
}